.winCells {
  background-color: yellow !important;
  color: red !important;
}

body {
  background-color: #EEE;
}

div.container {
  padding: 20px;
  width: 260px;
  margin: 0 auto;
  background-color: black;
}

div.app {
  padding: 10px;
  margin: 10px;
  width: 240px;
  margin: 0 auto;
  height: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #BBB;
}

div.cell {
  border-style: solid;
  border-width: 0.5px;
  border-color: black; 
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 2px;
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

div.info {
  font-family: Courier;
  vertical-align: middle;
  text-align: center;
  height: auto;
  width: 230px;
  height: 70px;
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-radius: 5px;
}

div.info em {
  animation: textWarp .75s infinite;
  font-size: 36px;
  text-shadow: 0px 0px 2px #B700E5,
               1px 1px 3px #1505E2,
               2px 2px 3px #0A94DF,
               4px 4px 3px #0FDC8F,
               5px 5px 3px #26D913,
               7px 7px 3px #B3D518,
               8px 8px 3px #D26F1C
}

div.info span {
  vertical-align: middle;
  text-align: center;
}

@keyframes textWarp {
  0%, 100% {
    font-size: 39px;
    opacity: 1.0;}
  50% {
    font-size: 40px;
    opacity: 0.9;
  }
}